@import "tailwindcss";
@import "tw-animate-css";

/* === Satoshi Font Faces === */
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

/* === Base Styling === */
@layer base {
  html {
    font-family: "Satoshi", sans-serif;
  }

  body {
    @apply bg-white text-black antialiased;
  }

  *,
  *::before,
  *::after {
    @apply box-border;
  }
}

.pressed {
  transform: translateY(2px);
  box-shadow: inset -4px 0 4px rgba(0, 0, 0, 0.1),
    inset 0 -4px 4px rgba(0, 0, 0, 0.15), 0 0 0 2px rgba(0, 0, 0, 0.5),
    5px 10px 15px rgba(0, 0, 0, 0.3) !important;
}
